<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter-XYZ/post/<%=post.id%></title>
    <link rel="stylesheet" href="/style3.css">
</head>
<body>
    <div class="container">
      <p>Username : <%=post.name%></p>  
       
       <p>post_id : <%=post.id%></p> 

       <p>Post_message : <%=post.post%></p> 
    <a href="http://localhost:8080/posts"><button>&lArr; Back</button></a>

    </div>
</body>
</html>